{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/twitterLogin.css') }}">
{% endblock %}

{% block body %}

{# <div id="t1">
    <div id="t2">
        <div id="t3" class="row d-flex justify-content-center align-items-center h-100">

            <div id="t4" class="HA">
                <h1 class="Account">Have an account ?</h1>
            </div>

            <div id ="t6" class="card-body p-5 text-center">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %} #}

                    {# {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %} #}
                    
                    <!-- Email -->
                    {# <div class="form-outline mb-4">
                        <div class="d-flex justify-content-between">
                            <label for="inputEmail">Adresse mail</label>
                        </div>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-control-lg" autocomplete="email" required autofocus>
                    </div> #}

                    <!-- Password -->
                    {# <div class="form-outline mb-4">
                        <div class="d-flex justify-content-between">
                            <label for="inputPassword">Mot de passe</label>
                        </div>
                        <input type="password" name="password" id="inputPassword" class="form-control form-control-lg" autocomplete="current-password" required>
                    </div>

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    > #}

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    {# <div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Se connecter
                        </button>
                    </div>
                    <br>

                    <div class="lien">
                        <a href="/register">Créer un compte<a>
                        <br><br>
                        <a href="#">Mot de passe oublié ?<a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div> #}

<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Bienvenue !</h3>

              <!-- Sign In Form -->
              <form name="LoginTEST" method="post">
                <div class="form-floating mb-3">
                  <label for="floatingInput">Adresse Mail</label>
                  <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-control-lg" autocomplete="email" required autofocus>
                </div>
                <div class="form-floating mb-3">
                  <label for="floatingPassword">Mot de passe</label>
                  <input type="password" name="password" id="inputPassword" class="form-control form-control-lg" autocomplete="current-password" required>
                </div>
                
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="form-check mb-3">
                  <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                  <label class="form-check-label" for="rememberPasswordCheck">
                    Se rappeler du mot de passe
                  </label>
                </div>

                <div class="d-grid">
                  <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" name="loginA" type="submit">Se connecter</button>
                  <div class="text-center">
                    <pre> <a href="/register">Créer un compte<a>       <a href="#">Mot de passe oublié ?</a> </pre>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
