{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="css/twitterReg.css">
{% endblock %}
{% block body %}

{# <div id="t1">
    <div id="t2">
        <div id="t3" class="row d-flex justify-content-center align-items-center">
            <div id="t4" class="CR">
                <h1 class="Account">Création d'un compte</h1>
            </div>

            <div id ="t6" class="card-body p-5">
                {{ form_start(registrationForm) }}
                    
                    <div class="form-outline mb-4">
                        <div class="d-flex justify-content-between">
                            <div id="step1">
                                <div class="form-outline mb-4">
                                    <div class="d-flex justify-content-between">
                                        {{ form_row(registrationForm.nomUtil,{
                                            label: 'Nom',
                                            'attr':{'placeholder':'Name'}
                                        }) }}
                                        {{ form_row(registrationForm.prenomUtil,{
                                            label: 'Prénom',
                                            'attr':{'placeholder':'Firstname'}
                                        }) }}
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                    <div class="d-flex justify-content-between">
                                        {{ form_row(registrationForm.pseudoUtil,{
                                            label: 'Pseudo',
                                            'attr':{'placeholder':'Pseudo'}
                                        }) }}
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                    <div class="d-flex justify-content-between">
                                        {{ form_row(registrationForm.email,{
                                        label: 'Email',
                                        'attr':{'placeholder':'Email'}
                                        }) }}
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                    <div class="d-flex justify-content-between">
                                        {{ form_row(registrationForm.plainPassword.first, {
                                            label: 'Mot de passe',
                                            'attr':{'placeholder':'Mot de passe'}
                                        }) }}
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                    <div class="d-flex justify-content-between">
                                        {{ form_row(registrationForm.plainPassword.second, {
                                            label: 'Retapez le mot de passe',
                                            'attr':{'placeholder':'Retapez le mot de passe'}
                                        }) }} 
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    {{ form_row(registrationForm.ageUtil, {
                                            label: 'Avez-vous plus de 13 ans ? '
                                        }) }}    
                                    {{ form_row(registrationForm.agreeTerms, {
                                            label: 'Êtes-vous en accord avec les termes ?'
                                        }) }}
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary btn-block">Finaliser</button>
                            </div>
                        </div>
                    </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
</div> #}

<div class="page-content">
    <div class="form-v4-content">
        <div class="form-left">
            <h2>INFORMATION</h2>
            <p class="text-1">
            Les personnes qui utilisent notre service ont pu importer vos coordonnées sur Free Bird. En savoir plus.
            En cliquant sur Finaliser, vous acceptez nos Conditions générales. 
            Découvrez comment nous recueillons, utilisons et partageons vos données en lisant notre Politique de confidentialité et comment nous utilisons les cookies et autres technologies similaires en consultant notre Politique d’utilisation des cookies. 
            Vous recevrez peut-être des notifications par texto de notre part et vous pouvez à tout moment vous désabonner.
            </p>
            <p class="text-2"><span>Eu ultrices:</span> Vitae auctor eu augue ut. Malesuada nunc vel risus commodo viverra. Praesent elementum facilisis leo vel.</p>
        </div>
        <div class="form-droite" id="myform">
            {{ form_start(registrationForm) }}
                <h2>Inscription</h2>
                <div class="form-middle">
                    <div class="form-group">
                        <div class="form-row form-row-1">
                            {{ form_row(registrationForm.nomUtil,{
                                label: 'Nom',
                                'attr':{'placeholder':'Name'}
                            }) }}
                        </div>
                        <div class="form-row form-row-1">
                            {{ form_row(registrationForm.prenomUtil,{
                                label: 'Prénom',
                                'attr':{'placeholder':'Firstname'}
                            }) }}
                        </div>
                    </div>
                    <div class="form-row">
                        {{ form_row(registrationForm.pseudoUtil,{
                            label: 'Pseudo',
                            'attr':{'placeholder':'Pseudo'}
                        }) }}
                    </div>
                    <div class="form-row">
                        {{ form_row(registrationForm.email,{
                            label: 'Email',
                            'attr':{'placeholder':'Email'}
                        }) }}
                    </div>
                    <div class="form-group">
                        <div class="form-row form-row-1 ">
                            {{ form_row(registrationForm.plainPassword.first, {
                                label: 'Mot de passe',
                                'attr':{'placeholder':'Mot de passe'}
                            }) }}
                        </div>
                        <div class="form-row form-row-1">
                            {{ form_row(registrationForm.plainPassword.second, {
                                label: 'Réecrire le MDP',
                                'attr':{'placeholder':'Réecrire le MDP'}
                            }) }}
                        </div>
                        <div class="d-flex justify-content-between">
                            
                        </div>
                    </div>
                </div>
                
                {{ form_row(registrationForm.ageUtil, {
                    label: 'Avez-vous plus de 13 ans ? '
                }) }} 
                {{ form_row(registrationForm.agreeTerms, {
                    label: 'Êtes-vous en accord avec les termes ?'
                }) }}


                <div class="form-row-last">
                    <button type="submit" class="register">Finaliser</button>
                </div>

        </div>
        {{ form_end(registrationForm) }}
    </div>
</div>

{% endblock %}
