{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
  <div class="main-panel">
    <div id="tweet" class="tweet">
      <div class="col-md-6 grid-margin mx-auto">
        {% for message in messages %}
            {% include 'post.html.twig' %} 
        {% endfor %}
      </div>
    </div>
    <div id="bas" class="bas">
    
      {% if previous >= 0 %}
          <a href="{{ path('app_index', {offset: previous }) }}">Retour</a>
      {% endif %}
      
      {% if previous >= 1 %}
          <a href="{{ path('app_index', {offset: 0 }) }}">1</a>
      {% endif %}

      <a href="{{ path('app_index', {offset: (middle)/4 }) }}">...{{(((middle)/4)+1)|round}}...</a>

      
      {% if next < messages|length %}
          <a href="{{ path('app_index', {offset: (messages|length)-3 }) }}">{{(((messages|length)%4)+2)|round}}</a>
      {% endif %}

      {% if next < messages|length %}
          <a href="{{ path('app_index', {offset: next }) }}">Suivant</a>
      {% endif %}
    </div>
  </div>



{% endblock %}
