<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
        <a class="nav-link" href="{{ path('app_index') }}">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Accueil</span>
        </a>
        </li>
        {# <li class="nav-item">
        <a class="nav-link" href="#auth">
            <i class="icon-head menu-icon"></i>
            <span class="menu-title">Profil</span>
        </a>
        </li> #}
        <li class="nav-item">
        <a class="nav-link open-button" href="{{ path('app_envoie_tweet') }}">
            <i class="ti-comment menu-icon"></i>
            <span class="menu-title">Tweet</span>
        </a>
        </li>
        <li class="nav-item nav-settings d-none d-lg-flex">
        <a class="nav-link" href="#">
            <i class="icon-head menu-icon"></i>
            <span class="menu-title">Message privé</span>
        </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
        <a class="nav-link" href="{{ path('admin') }}">
            <i class="ti-user menu-icon"></i>
            <span class="menu-title">Admin</span>
        </a>
        </li>
        {% endif %}
        <li class="nav-item">
        <a class="nav-link" href="{{ path('app_parametre') }}">
            <i class="ti-settings menu-icon"></i>
            <span class="menu-title">Paramètre</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">
            <i class="ti-close menu-icon"></i>
            <span class="menu-title">Déconnexion</span>
        </a>
        </li>
    </ul>
</nav>
