{% block stylesheets %}
<link rel="stylesheet" href="css/twitterTweet2.css">
{% endblock %}

{% block body %}

<a class="noneUnderline" href="{{ path('thisPoste', { id: message.id }) }}">
    {# <div class="container mt-5">
        <div class="card border rounded mb-2">
            <div id="myPost" class="card-body">
                <p class="card-title"> <img src="{{asset(message.util.pfpUser)}}" class="pfpTweet"> {{message.util.pseudoUtil}} - {{message.dateCreaMessage|date("m/d/Y") }} </p>
                <p class="contenuTweet">{{message.texteMessage}}</p>
                {% if message.image %}
                <img src="{{asset(message.image)}}" type="video/mp4" class="card-img-bottom imageTweet">
                {% endif %}
                <p class="interactionPost">
                <img src={{ asset('image/Bulle.png') }} class="w3-image" width="3%" height="3%">{{message.likeMessage}}
                <img src={{ asset('image/Like.png') }} class="w3-image" width="3%" height="3%"> {{message.rtMessage}}
                <img src={{ asset('image/RT.png') }} class="w3-image" width="3%" height="3%"></p>
                </p>
            </div>
        </div>  
    </div> #}

    <div class="container mt-5">
        <div class="card border rounded mb-2">
            <div class="card-body">
                <div class="tweetGrid">
                    <div class="">
                        <img src="{{asset(message.util.pfpUser)}}" class="pfpTweet">
                    </div>
                    <div class="">
                        <p class="card-title"> {{message.util.pseudoUtil}}  <span  class="card-subtitle mb-2 text-muted">- {{message.dateCreaMessage|date("m/d/Y") }}</span></p>
                    </div>

                    <div>
                    </div>

                    <div class="">
                        <p class="contenuTweet">{{message.texteMessage}}</p>
                        {% if message.image %}
                        <br>
                        <img src="{{asset('image/' ~ message.image)}}" class="card-img-bottom imageTweet">
                        <br>
                        {% endif %} 
                    </div>
    
                    <div class="">
                    </div>

                    <div class="bottomTweet">
                        <i class="ti-comment menu-icon"></i>
                        <i class="ti-reload menu-icon">{{message.rtMessage}}</i>
                        <i class="ti-heart menu-icon">{{message.likeMessage}}</i>
                    </div>

                </div>
            </div>
        </div>
    </div>
</a>
{% endblock %}